---
permalink: /
title: "Overview"
author_profile: true
redirect_from: 
  - /about/
  - /about.md
---

{% include base_path %}
Welcome to my personal page. <br/>
Use the navigation page at the top to explore specific sections. <br/><br/>

<h1> Selected Projects</h1>
<h2>  <a href="/portfolio/light-difflogic/">Light Differentiable Logic Gate Networks</a></h2>
Our reparametrization of differentiable logic gate networks allows to
<ul>
  <li>scale them in size and complexity, and</li>
  <li>train them faster.</li>
</ul>
<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
  <video
    style="position:absolute;top:0;left:0;width:100%;height:100%;"
    controls
    autoplay
    muted
    loop
  >
    <source src="/files/light-difflogic-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>
<!-- <h1> Projects</h1>
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- No publications yet -->
<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
